*{
    font-family: 'Bungee', sans-serif;
}

p{
    font-family: 'Courier Prime', monospace;
}

form {
    font-family: 'Courier Prime', monospace;
}

#header {
    font-family: 'Courier Prime', monospace;
}

nav.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
} 

nav.menu ul a {
    width: 100%;
    padding-left: 6em;
    padding-right: 4em;
    text-decoration: none;
    color: black;
}

.fa-solid {
    color: #0D55A2;
}

/* Falta hacer que el menú aparezca al hacer scroll y se quede fijo en la pantalla (usarlo de mad tat)  */

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

#grafica {
    background-color: #0D55A2;
    margin: 0;
    max-width: 100%;
    margin-bottom: 2em;
}

#logo {
    display: grid;
    width: 15em;
    place-items: center;
    margin: auto;
}

#white {
    color: white;
    font-size: 5.5em;
    margin-left: 1em;
    margin-bottom:0;
    margin-right: 0;
}

#pegatina {
    margin-right: 10em;
}

#pegatina_1 {
    margin-right: 7em;
}

#grafica_cerveza {
    width: 90%;
    margin-right: 3em;
}