*{
    font-family: 'Bungee', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-family: 'Courier Prime', monospace;
    margin-bottom: 0.5em;
}

form {
    font-family: 'Courier Prime', monospace;
}

/* MENU */

#menu {
    text-align: center;
    /* sticky menu  */
    z-index: 1;
    position: sticky;
    top: 0;
    max-width: 100%;
    width: 100%;
    background-color: white;
}

#menu ul {
    display: flex;
}

#menu ul div li {
    display: inline-block;
    padding: 5em;
    padding-top: 1em;
    padding-bottom: 1em;
    /* responsive  */
    transition: .3s;
}

#menu ul div li a {
    color: black;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

#menu ul div li:hover a {
    color: #FAC100;
    text-decoration: none;
}

/* Menu hamburguesa */
#menu ul div:last-child li:last-child {
    display: none;
}

.fa-solid {
    color: #0D55A2;
}

#grafica {
    background-color: #0D55A2;
    margin: 0;
    max-width: 100%;
    margin-bottom: 2em;
}

#logo {
    display: grid;
    width: 12em;
    place-items: center;
    margin: auto;
}

#white {
    color: white;
    font-size: 5.5em;
    margin-left: 1em;
    margin-bottom:0;
    margin-right: 0;
}

#pegatina {
    margin-right: 10em;
}

#pegatina_1 {
    margin-right: 7em;
}

#grafica_cerveza {
    width: 90%;
    margin-right: 2em;
}

h3 {
    font-size: 4em;
    margin-bottom: 0;
}

h4 {
    font-size: 3em;
    color:#00AD93;
}

#producto_stars {
    display: flex;
    align-items: center;
    padding-bottom: 1em;
}

#producto_stars p {
    padding-left:1em ;
    font-size: 1.5em;
}

.salto_linea {
    margin-bottom: 20px;
}

.bold {
    font-weight: bold;
    margin-bottom: 0;
}

.red {
    color: #EC5F44;
}

h5 {
    font-size: 2.5em;
    margin-top: 0.5em;
}

.btn-primary {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 13px;
    background-color: #0D55A2;
    font-size: 2em;
    color: #FAC100;
}

.btn-primary:hover {
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 13px;
    border-color: #FAC100;
    background-color:  #FAC100;
    font-size: 2em;
    color: white;
}

.btn-secondary {
    margin-left: 0.5em;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
    font-size: 2em;
    color: #FAC100;
}

.btn-secondary:hover {
    margin-left: 0.5em;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 13px;
    border: 5px solid var(--blue, #FAC100);
    background-color:white ;
    font-size: 2em;
    color: #0D55A2;
}

.btn-group {
    margin-top: 0.5em;
    font-family: 'Courier Prime', monospace;
    background-color: white;
    margin-right: 1em;
}

.btn-outline-primary {
    border: 5px solid var(--blue, #0D55A2);
    color: black;
    font-size: 1.75em;
    padding-top: 0;
    padding-bottom: 0;
}

.btn-outline-primary:hover {
    border: 5px solid var(--blue, #0D55A2);
    color: white;
    background-color: #0D55A2;
    font-size: 1.75em;
    padding-top: 0;
    padding-bottom: 0;
}

#special { 
    border-bottom: 5px solid var(--blue, #0D55A2);  
    border-top: 5px solid var(--blue, #0D55A2); 
    font-size: 1.75em;
}

#producto_cantidad {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 3.5em;
    align-items: flex-end;
}

.subtotal {
    margin-bottom: 0;
}

#comprar {
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 1.5em;
    width: 100%;
}

h6 {
    font-size: 1.5em;
    color: #00AD93;
}

#nutri {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

#formulario-reviews {
    display: flex;
    align-items: center;
    height: 44px;
    width: auto;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
}

#formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: auto;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
    margin: 1em;
    padding-left: 1em;
    color: #0D55A2;
}

#formulario p{
    margin-bottom: 0;
}

#formulario-container {
    margin-top: 3em;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
}

#formulario-container h6 {
    margin: 1em;
}

#own_star {
    margin-left: 1em;
}

#publicar {
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 1.5em;
    width: 85%;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
}

main {
    margin-bottom: 3em;
}

footer {
    background-color: #FAC100;
}

h1 {
    font-size: 7em;
    color: white;
    padding-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0;
}

#suscribirse {
    color: white;
    font-size: 2em;
    margin-left: 2em;
    margin-top: 0;
}

.news {
    padding-left: 4.25em;
}

#fname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
    margin: 1em;
    margin-left: 4em;
    padding-left: 1em;
    color: #0D55A2;
}

#formulario-container #fname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
    margin: 1em; 
    margin-bottom: 0;  
    padding-left: 1em;
    color: #0D55A2;
    width: 90%;
}

#suscribirme {
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 1.5em;
    width: auto;
    margin-left: 2.5em;
    margin-bottom: 3em;
}

#suscribirme:hover {
    font-family: 'Courier Prime', monospace;
    color: #0D55A2;
    background-color: white;
    font-size: 1.5em;
    width: auto;
    margin-left: 2.5em;
    margin-bottom: 3em;
}

.fa-brands {
    color: white;
}

#contacto_rrss {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding-bottom: 2em;
    --bs-gutter-x: 1.5rem;
}

.banda {
    width: 100%;
    position: relative;
}

#final {
    margin-bottom: 0;
    background-color: #00AD93;
    height: 770px;
}

#menu_final {
    background-color: #00AD93;
    padding-top: 1em;
    padding-bottom: 1em;
}

#menu_final nav ul a {
    color: white;
}

#menu_final nav ul a .col-2 i{
    color: white;
}

.deco {
    position: absolute;
    margin-top: 8em;
}

#final #texto {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.white {
    color: white;
    margin-top: 3em;
    text-align: center;
}

#final #texto h3 {
    margin-top: 5em;
}

#final #texto p {
    color: white;
    text-align: center;
    margin-left: 20em;
    margin-right: 20em;
    margin-bottom: 11em;
}

footer .row * {
    width: auto;
}

.row {
    --bs-gutter-x: 0;
}

#final #texto a {
    color:#FAC100;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

#pegatinas_footer {
    position: absolute;
    margin-left: 45em;
    margin-top: 5em;
}

#contacto_formulario #fname {
    width: 100%;
}

#carouselExampleAutoplaying {
    width: 90%;
}

#producto_galeria img {
    margin-bottom: 2.15em;
}

#resumen_responsive {
    display: none;
}

#datos #fname {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width: 90%;
    border-radius: 13px;
    border: 5px solid var(--blue, #0D55A2);
    background-color: white;
    padding-left: 1em;
    color: #0D55A2;
    margin: 0;
}

#datos #personales .row .col-lg-7 {
    width: 63%;
}

#personales {
    margin-bottom: 3em;
    margin-top: 3em;
}

#datos #envío .row .col-lg-5 {
    width: 47%;
}

#envío {
    margin-bottom: 3em;
}

#datos #pago .col-7 {
    width: 50%;
} 

#datos #pago .col-4 {
    width: 50%;
} 

#datos #pago .col-8 {
    font-size: 0.8em;
}

#cerveza_pequeña img{
    margin-left: 1.5em;
}

#pagar {
    font-family: 'Courier Prime', monospace;
    color: white;
    font-size: 1.5em;
    width: 100%;
    height: 102%;
    margin-left: 2.5em;
}

#volver {
    background-color: white;
    font-family: 'Courier Prime', monospace;
    color:#0D55A2;
    font-size: 1.5em;
    width: 100%;
    margin: 0; 
}

#botones_continuar {
    margin-top: 3em;
    margin-bottom: 3em;
}

#resumen {
    margin: 0;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    background-color: #00AD93;
    border-radius: 13px;
    height: fit-content;
    width: 30%;
}

#resumen h4 {
    color: white;
    margin-top: 1em;
}

#resumen h3 {
    color: white;
}

#cantidad {
    display: flex;
    align-items: baseline;
}

#cantidad h3 {
    margin-right: 0.2em;
} 

#cantidad img {
   margin-right: 0.5em;
}

#cantidad p {
    font-weight: bold;
    color: white;
}

#total_pago {
    display: flex;
    align-items: end;
}

#total_pago .col-8 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#total_pago .col-4 {
    padding-left: 1em;
}

#total_pago p, #total_pago h4 {
    color: white;
}

.total {
    font-weight: bold;
    font-size: 2em;
    margin-left: 0.5em; 
    margin-bottom: 0;
}

.iva {
    margin-left: 1em;
}

#cortadas {
    margin-bottom: 0;
    margin-right: 0;
    padding: 0;
}

#minimal {
    margin: 0;
    padding: 0;
    display: flex;
    color: white;
    justify-content: center;
}

#minimal div {
    display: flex;
}

#minimal div p {
    padding: 1em;
    text-align: center;
}

#sin_margen {
    margin-bottom: 0;
}

#pago p a {
    color:#FAC100;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
}

/* ANIMACIONES  */

#pegatina_1:hover {
    transform: rotate(10deg);
}

#pegatina:hover {
    transform: rotate(-10deg);
}

#grafica_cerveza:hover {
    transform: rotate(-10deg);
}

/* MEDIA QUERIES  */


@media only screen and (max-width: 1200px) {
    /* Pantalla de finalización de compra  */

    #pegatinas_footer {
        position: absolute;
        margin-left: 40em;
        margin-top: 8em;
    }

    #pegatinas_footer img {
        width: 80%;
    }

    #final {
        height: 700px;
    }

    .banda {
        width: 100%;
        margin-top: 200px;
    }

    #final #texto p {
        margin-bottom: 0.1em;
    }

    #final #texto h3 {
        margin-top: 6em;
        font-size: 3em;
    }

    .deco {
        width: 90%;
    }

    h1 {
        font-size: 6em ;
    }

    /* Pantalla de compra  */

    .container {
        margin-left: 6em;
    }

    #botones_continuar {
        margin-bottom: 1em;
    }

    #resumen {
        padding-left: 1.5em;
        padding-right: 6em;
    }
    /* Pantalla de inicio  */

    #logo {
        width: 10em;
    }

    #white {
        font-size: 4em;
    }

    #links img {
        width: 170%;
    }

    #producto {
        margin-left: 1em;
    }

    #producto_galeria img {
        margin-bottom: 1em;
        width: 79%;
    }

    #producto_stars p {
        font-size: 1em;
    }

    #producto_stars img {
        width: 50%;
    }

   h3 {
        font-size: 3em;
    }

    h4 {
        font-size: 2em;
    }

    p {
        font-size: 0.8em;
    }

}

@media only screen and (max-width: 1120px) {

    /* MENU  */
    #menu ul div li {
        padding-left: 3em;
        padding-right: 3em;
    }
    
    /* Pantalla de inicio */

    #pegatina_1 {
        margin-right: 5em;
    }

    /* Pantalla de compra  */
    #cerveza_pequeña img {
        width: 50%;
    }

    .total {
        font-size: 1.5em;
    }

    #total_pago h4 {
        font-size: 2em;
    }
  }


@media only screen and (max-width: 992px) {

    /* Pantalla de compra  */

    #cortadas {
        margin-left: 5em;

    }

    #cortadas #fname {
        font-size: 0.8em;
    }

    #cortadas h4 {
        font-size: 2em;
    }

    #resumen h4 {
        margin-top: 1.5em;
    }

    .total {
        margin-left: 0.25em;
    }

    .iva {
        margin-left: 0.25em;
    }

    #resumen {
        width: 40%;
    }

    /* Pantalla de inicio  */

    #producto {
        max-width: 90%;
    }

    #producto_galeria img {
        width: 65%;
    }

    #links h2 {
        font-size: 3em;
    }

    #pegatina_1, #pegatina {
        width: 24%;
    }

    #pegatina {
        margin-right: 5em;
    }

}

@media only screen and (max-width: 950px) {

    /* Pantalla de finalización de compra  */

    #final #texto p {
        margin-bottom: 2em;
    }

    #final #texto h3 {
        font-size: 2.5em;
    }

    h1 {
        font-size: 4em ;
        margin-left: 1em;
    }

    #pegatinas_footer {
        position: absolute;
        margin-left: 35em;
        margin-top: 6em;
    }

    #pegatinas_footer img {
        width: 100%;
    }

    #final {
        height: 600px;
    }

    .banda {
        margin-top: 115px;
    }

    /* Pantalla de compra  */

    #cantidad h3 {
        font-size: 3em;
    }

    .total {
        font-size: 1.5em;
        margin-top: 0.5em;
    }

}

@media only screen and (max-width: 820px) {

    #menu {
        text-align: right;
    }

    /* only dots on display  */
    #menu ul div li {
        display: none;
    }

    #menu ul div:first-child li ,  #menu ul div:last-child li:last-child {
        display: inline-block;
    }

    #menu ul:hover div li {
        display: block;
        padding: 1em;
    }

    /* Pantalla de finalización de compra  */

    #final #texto p {
        margin-right: 6em;
        margin-left: 6em;
    }

    #pegatinas_footer {
        display: none;
    }

    .banda {
        margin-top: 120px;
    }

    #final {
        height: 500px;
    }

    .deco {
        display: none;
    }

    #final #texto h3 {
        margin-top: 4em;
    }

    /* Pantalla de compra  */

    #pagar {
        font-size: 1em;
    }
    
    #volver {
        font-size: 1em;
    }
  }

@media only screen and (max-width: 768px) {

    /* Pantalla de compra  */

    #datos #personales .row .col-md-7 {
        width: 100%;
    }

    #total_pago h4 {
        font-size: 1.5em;
    }

    #sin_margen {
        margin-left: 5%;
    }

    .iva {
        font-size: 0.5em;
    }

    #resumen {
        display: none;
    }

    #resumen_responsive {
        display: flex; 
        flex-direction: column;
        margin-bottom: 0; 
        background-color: #00AD93;
        padding: 2em;
        border-radius: 13px;
        width: 90%;
    }

    #cantidad h3 {
        color: white;
    }

    #cerveza_pequeña {
        width: 50%;
        margin-bottom: 0;
    }

    #cerveza_pequeña img {
        width: 100%;
    }    

    #total_pago {
        margin-top: 0em;
        margin-left: 0em;
        width: 100%;
    }

    #resumen_responsive h4{
        color: white;
        font-size: 3em;
    }

    .iva {
        font-size: 0.8em;
    }

    /* Pantalla de inicio  */
    #producto_galeria {
        display: none;
    }

    #carouselExampleAutoplaying {
        margin-bottom: 2em;
    }

    #producto {
        margin-left: 10%;
    }
}

@media only screen and (max-width: 700px) {

    /* Pantalla de finalización de compra  */

    h1 {
        font-size: 2.3em ;
    }

    #final #texto h3 {
        font-size: 1.8em;
        margin-top: 5em;
    }

    #contacto_titulo {
        flex-direction: column;
    }

    #suscribirse {
        font-size: 1em;
    }

    .banda {
        margin-top: 50px;
    }

    #final {
        height: 400px;
    }

    #contacto_formulario p{
        font-size: 0.7em;
    }

    .news {
        padding-left: 3em;
    }

    #fname {
        margin-left: 2em;
        font-size: 0.8em;
    }

    #suscribirme {
    font-size: 1em;
    margin-left: 1.5em;
    }

    /* Pantalla de compra */

    #cerveza_pequeña {
        width: 70%;
    }

    #privacidad {
        font-size: 0.8em;
    }

    #cortadas {
        width: 90%;
        margin-left: 3em;
    }


    /* Pantalla de inicio  */

    #logo {
        width: 8em;
    }

    #links h2 {
        font-size: 2em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    #pegatina_1 {
        margin-right: 2em;
    }

    #pegatina {
        margin-right: 3em;
    }
}

@media only screen and (max-width: 520px) {

    /* Pantalla de finalización de compra  */

    #final #texto p {
        margin-right: 3em;
        margin-left: 3em;
    }

    h1 {
        font-size: 2em ;
    }

    #final #texto h3 {
        font-size: 1.5em;
        margin-top: 6em;
    }

    .banda {
        display: none;
    }

    #suscribirse {
        font-size: 1em;
    }

    /* Pantalla de compra  */

    #datos #fname {
        width: 80%;
    }

    #privacidad {
        font-size: 0.8em;
        width: 80%;
    }

    #botones_continuar {
        width: 85%;
    }

    .total {
        font-size: 1em;
    }

    .iva {
        font-size: 0.5em;
    }

    #datos #envío .row .col-md-5 {
        width: 45%;
    }

    #minimal p {
        font-size: 0.8em;
    }

    /* Pantalla de inicio  */

    #grafica_imagenes {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    #links h2 {
        font-size: 3.2em;
        margin-top: 0;
    }

    #links {
        width: 100%;
    }

    #pegatina_1 {
        margin-right: 5em;
        width: 30%;
    }

    #pegatina {
        width: 30%;
        margin-right: 5em;
    }

    #grafica_cerveza {
        width: 150%;
        margin-right: 0;
    }

    #grafica {
        overflow: hidden;
    }

    #datos #envío .row .col-lg-5 {
        width: 100%;
    }

}

@media only screen and (max-width: 450px) {

    /* Pantalla de finalización de compra  */

    #final #texto h3 {
        font-size: 1.3em;
    }

    /* Pantalla de compra  */

    #cortadas h4 {
        font-size: 1.5em;
    }

    #cortadas {
        margin-left: 1.5em;
    }


    /* Pantalla de inicio  */

    #r1 {
        margin-bottom: 1em;
    }

    #links h2 {
        font-size: 2.5em;
    }

    #pegatina_1 {
        width: 25%;
    }

    #pegatina {
        width: 25%;
    }

    #producto_titulo h3 {
        font-size: 2.5em;
    }

    #producto_titulo h4 {
        font-size: 1.5em;
    }

    h6 {
        font-size: 1.25em;
    }

    #own_star img {
        width: 90%;
    }

}